
.container {
  
  background: var(--color-bg-2);
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 7000px;
}

#lqbg {
  transform: translateX(-200px)
}
